<div class="row m-0 p-0">
  <div class="my-auto col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-none d-sm-none d-md-block">
      <img class="mt-4" src="../../../assets/images/Artist 04.jpg" alt="coverart">
  </div>
  <div class="my-auto col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <form [formGroup]="loginForm">
      <div class="card border-0 shadow m-3 p-3 w-75">
        <h2 class="lead">Login here</h2>
        <label for="email">Email</label>
        <input type="email" formControlName="user_email" name="email" id="email" placeholder="admin@mail.com"
          class="form-control mb-2">
        <label for="password">Password</label>
        <input type="password" formControlName="user_password" name="password" id="password" placeholder="admin"
          class="form-control">
        <button class="btn btn-primary mt-3" (click)="login()" [disabled]=loginForm.invalid>Login</button>
      </div>
    </form>
  </div>
</div>
