<h4 class="text-center">Photo Listing</h4>
<div class="container bg-warning">
  <div class="d-flex flex-row flex-nowrap overflow-auto">
    <div *ngFor="let item of apiResponse" class="card card-block mx-2 p-2" style="min-width: auto;">
      <img width="200" alt="thumbnail" [src]="item.thumbnailUrl">
      <p class="text-center">{{item.title}}</p>
      <p class="text-center">{{item.id}}</p>
      <p class="text-center">{{item.url}}</p>
      <button class="btn btn-primary" *ngIf="showAdd(item)" (click)="onCompare(item)">Add</button>
      <button class="btn btn-danger" *ngIf="showRemove(item)" (click)="onRemove(item)">Remove</button>
    </div>
  </div>
</div>
<br>
<h4 class="text-center">COMPARISON TABLE</h4>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Id</th>
        <th>Url</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="tableData.length==0">
        <td colSpan="5">
          <p class="text-center text-danger">No data here...</p>
        </td>
      </ng-container>
      <tr *ngFor="let item of tableData">
        <td>
          <img width="30" alt="thumbnail" [src]="item.thumbnailUrl">
        </td>
        <td>{{item.id}}</td>
        <td>{{item.url}}</td>
        <td>{{item.title}}</td>
      </tr>
    </tbody>
  </table>
</div>
